.contact__header, .tips__header, .nature__header, .cities__header, .prefooter, .index__cities .cities__div .index__cities__img, .index__cities, .index__nature .nature__div .index__nature__img, .index__nature, header {
  background-size: cover;
  background-position: center;
}

.index__cities .cities__div .index__cities__img, .index__nature .nature__div .index__nature__img {
  box-shadow: 0px 0px 19px 18px rgba(0, 0, 0, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none !important;
  margin-left: 0 !important;
  font-weight: 70;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: black;
}

nav {
  padding: 0;
}

.cities__title {
  height: 23vh;
  text-align: center;
  padding-top: 70px;
  font-size: 35px;
  font-weight: 200;
}

.cities__guides a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  width: 25%;
  height: 450px;
}

.cities__guides h4 {
  font-size: 30px;
  padding-bottom: 20px;
  color: white;
  transition: color 0.8s;
}

.cities__guides {
  height: 100vh;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cities__guides .cities__guide1 {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.5)), url(../img/london1.jpg);
  transition: width 0.5s;
  background-position: left;
}
.cities__guides .cities__guide1:hover {
  width: 70vw;
}
.cities__guides .cities__guide1:hover h4 {
  color: lightskyblue;
}
.cities__guides .cities__guide2 {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.5)), url(../img/tokyo1.jpg);
  transition: width 0.5s;
  background-position: center;
}
.cities__guides .cities__guide2:hover {
  width: 70vw;
}
.cities__guides .cities__guide2:hover h4 {
  color: lightskyblue;
}
.cities__guides .cities__guide3 {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.5)), url(../img/paris1.jpg);
  transition: width 0.5s;
  background-position: center;
}
.cities__guides .cities__guide3:hover {
  width: 70vw;
}
.cities__guides .cities__guide3:hover h4 {
  color: lightskyblue;
}
.cities__guides .cities__guide4 {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.5)), url(../img/moscow1.jpg);
  transition: width 0.5s;
  background-position: right;
}
.cities__guides .cities__guide4:hover {
  width: 70vw;
}
.cities__guides .cities__guide4:hover h4 {
  color: lightskyblue;
}
.cities__guides .cities__guide5 {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.5)), url(../img/01phiphi.jpg);
  transition: width 0.5s;
  background-position: center;
}
.cities__guides .cities__guide5:hover {
  width: 70vw;
}
.cities__guides .cities__guide5:hover h4 {
  color: lightskyblue;
}
.cities__guides .cities__guide6 {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.5)), url(../img/01patagonia.jpg);
  transition: width 0.5s;
  background-position: center;
}
.cities__guides .cities__guide6:hover {
  width: 70vw;
}
.cities__guides .cities__guide6:hover h4 {
  color: lightskyblue;
}
.cities__guides .cities__guide7 {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.5)), url(../img/01boreal.jpg);
  transition: width 0.5s;
  background-position: center;
}
.cities__guides .cities__guide7:hover {
  width: 70vw;
}
.cities__guides .cities__guide7:hover h4 {
  color: lightskyblue;
}
.cities__guides .cities__guide8 {
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.5)), url(../img/peru2.jpg);
  transition: width 0.5s;
  background-position: center;
}
.cities__guides .cities__guide8:hover {
  width: 70vw;
}
.cities__guides .cities__guide8:hover h4 {
  color: lightskyblue;
}

/* NATURE */
.bfont {
  font-family: "Poppins", sans-serif;
  color: lightskyblue;
}

.pfont {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.container {
  background-color: black;
}

.btn-link {
  font-weight: 300;
  color: lightskyblue !important;
  text-align: left;
  display: flex;
  justify-content: left;
  font-size: 30px;
}

.card-header {
  background-color: black;
}

.card {
  border: none;
  background-color: black;
}

.btn:focus {
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.centrado {
  margin: 5% 8% 3% 8% !important;
}

.btn {
  margin-top: 2%;
}

form {
  grid-area: form;
}

form div {
  margin: 0 0 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

form input[type=text],
input[type=email],
textarea {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 5px 10px 5px 10px;
  border: solid rgba(255, 255, 255, 0.7) 1px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
}

input[type=text],
input[type=email] {
  width: 400px;
  height: 30px;
}

textarea {
  width: 400px;
  height: 250px;
}

input[type=submit],
input[type=reset] {
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  width: 70px;
  border: solid white 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
  border-radius: 3px;
}

input[type=reset] {
  margin-left: 20px !important;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.center .contact__form {
  background-color: #222;
  width: 80vw;
  margin-top: 5vh;
  border-radius: 15px;
  display: flex;
  direction: row;
}
.center .contact__form .section__intro {
  width: 50%;
  padding: 40px;
}
.center .contact__form .section__intro .section__title {
  font-size: 35px;
}
.center .contact__form .section__intro .section__par {
  padding-top: 20px;
  line-height: 45px;
}
.center .contact__form .section__form {
  width: 50%;
  padding: 40px;
}

header {
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 15vh 60vh 25vh;
  grid-template-areas: "menu" "titulo" "subtitulo";
  height: 100vh;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/stars1.jpg);
}
header .navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu;
  margin-right: 0 !important;
}
header .navbar .navbar__menu {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .navbar .navbar__menu .navbar__menuItem {
  width: 10%;
  text-align: center;
}
header .navbar .navbar__menu .navbar__menuItem a {
  color: white;
  font-size: 23px;
  transition: color 0.5s;
  white-space: nowrap;
  font-weight: 300;
}
header .navbar .navbar__menu .navbar__menuItem a:hover {
  color: lightskyblue;
}
header .logos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .logos img {
  width: 350px;
}
header h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: titulo;
  font-size: 60px;
  text-align: center;
  font-weight: 100;
  padding-top: 15vh;
}
header h2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: subtitulo;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
}

.index__header h1 {
  letter-spacing: 6px;
}

.intro {
  height: 200px;
  margin: 5% 30% 0 30% !important;
  text-align: center;
}
.intro .intro__title {
  font-size: 30px;
}
.intro .intro__text {
  margin-top: 5%;
}

.index__nature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7), black), url(../img/route2.jpg);
}
.index__nature .nature__div {
  display: grid;
  grid-template-columns: 35% 48%;
  grid-template-rows: 60px 320px;
  grid-template-areas: "img tit" "img sub";
  grid-column-gap: 50px;
  margin-left: 10% !important;
}
.index__nature .nature__div .index__nature__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: img;
  background-image: url(../img/route2.jpg);
}
.index__nature .nature__div .index__nature__title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  color: #aaa;
  grid-area: tit;
  border-bottom: solid #888 2px;
  font-size: 30px;
}
.index__nature .nature__div .index__nature__text {
  line-height: 30px;
  padding-top: 25px;
  text-align: justify;
  line-height: 40px;
}

.index__cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), black), url(../img/ncity9.jpg);
}
.index__cities .cities__div {
  display: grid;
  grid-template-columns: 48% 35%;
  grid-template-rows: 60px 320px;
  grid-template-areas: "tit img" "sub img";
  grid-column-gap: 50px;
  margin-left: 10% !important;
}
.index__cities .cities__div .index__cities__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: img;
  background-image: url(../img/ncity9.jpg);
}
.index__cities .cities__div .index__cities__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  color: #aaa;
  grid-area: tit;
  border-bottom: solid #888 2px;
  font-size: 30px;
  text-align: right;
}
.index__cities .cities__div .index__cities__text {
  line-height: 30px;
  padding-top: 25px;
  text-align: justify;
  line-height: 40px;
}

.prefooter {
  margin-top: 70px;
  height: 100vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), black), linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(../img/footer1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.prefooter .prefooter__title {
  font-weight: 100;
  font-size: 30px;
}

footer {
  display: grid;
  grid-template-columns: 370px 10px 600px;
  grid-template-rows: 50px;
  grid-template-areas: "par linea menu";
  justify-content: center;
  margin-top: 20px;
}
footer .footerpar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: par;
}
footer .linea {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: linea;
}
footer .menufooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

/** CITIES **/
.cities__header {
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/ncity1.jpg);
}

.guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15vh 0 15vh 4vw !important;
  border-radius: 20px;
  width: 90vw;
  background-color: #222;
}
.guide .guide__title {
  width: 100%;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 5vh 0 5vh 0;
  display: flex;
  flex-direction: row;
}
.guide .guide__title:before, .guide .guide__title:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #FFF;
  margin: auto 30px;
}
.guide .carousel {
  width: 60vw;
  margin: 0;
}
.guide .carousel .carousel-indicators {
  margin-left: 15% !important;
}
.guide .carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px !important;
}
.guide .carousel .carousel-inner {
  border-radius: 15px;
}
.guide .guide__subtitle {
  width: 100%;
  font-size: 30px;
  font-weight: 50;
  text-align: center;
  padding: 5vh 0 5vh 0;
  display: flex;
  flex-direction: row;
}
.guide .guide__subtitle:before {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #FFF;
  margin: auto 40px auto 150px;
}
.guide .guide__subtitle:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #FFF;
  margin: auto 150px auto 40px;
}
.guide p {
  padding: 1vh 4vw 1vh 4vw;
}

.nature__header {
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/nature1.jpg);
}

.tips__header {
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), black), url(../img/tips.jpg);
}

.contact__header {
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/contact.jpg);
}

/* MOBILE */
@media screen and (max-width: 768px) {
  * {
    padding: 0;
    box-sizing: border-box;
  }

  html,
body {
    overflow-x: hidden;
  }

  header .navbar .navbar__menu .navbar__menuItem a {
    font-size: 12px;
  }

  .div__tips {
    margin-left: -15% !important;
  }

  header .header__title {
    font-size: 45px;
  }
  header .header__subtitle {
    font-size: 18px;
  }

  .intro {
    margin: 10% 10% 5% 10% !important;
  }
  .intro .intro__title {
    font-size: 25px;
  }
  .intro .intro__text {
    font-size: 12px;
  }

  .index__nature .nature__div {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 50vh 10vh 30vh;
    grid-template-areas: "img" "tit" "sub";
  }
  .index__nature .nature__div .index__nature__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img;
  }
  .index__nature .nature__div .index__nature__title {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: tit;
    padding-top: 10px;
  }
  .index__nature .nature__div .index__nature__text {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: sub;
    font-size: 12px;
    line-height: 30px;
    padding-top: 5px;
  }

  .index__cities {
    margin-top: 15vh;
  }
  .index__cities .cities__div {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 50vh 10vh 30vh;
    grid-template-areas: "img" "tit" "sub";
  }
  .index__cities .cities__div .index__cities__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: img;
  }
  .index__cities .cities__div .index__cities__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: tit;
    padding-top: 10px;
    text-align: left;
  }
  .index__cities .cities__div .index__cities__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sub;
    font-size: 12px;
    line-height: 30px;
    padding-top: 5px;
  }
  @media screen and (max-width: 768px) {

  .index__nature .nature__div .index__nature__img {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__nature__img {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
  }

  .index__nature .nature__div .index__nature__title {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__nature__title {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }

  .index__nature .nature__div .index__nature__text {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__nature__text {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
  }

  .index__cities .cities__div .index__cities__img {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__cities__img {
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      -ms-grid-column: 1;
  }

  .index__cities .cities__div .index__cities__title {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__cities__title {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }

  .index__cities .cities__div .index__cities__text {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__cities__text {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
  }
  }

  .prefooter .prefooter__title {
    font-size: 20px;
    text-align: center;
    margin: 0 10% 0 10% !important;
  }

  .linea {
    display: none;
  }

  footer {
    grid-template-columns: 90vw;
    grid-template-rows: 5vh 6vh;
    grid-template-areas: "par" "menu";
  }
  footer .footerpar {
    text-align: center;
    font-size: 10px;
  }
  footer .menufooter {
    font-size: 10px;
  }

  .cities__guides {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: "g1 g2" "g3 g4";
  }
  .cities__guides a {
    width: 45vw;
    height: 45vh;
    border-radius: 5px;
    margin-left: 2.5vw !important;
  }
  .cities__guides a h4 {
    text-align: center;
    font-size: 20px;
  }
  .cities__guides .cities__guide1 {
    grid-area: g1;
  }
  .cities__guides .cities__guide2 {
    grid-area: g2;
  }
  .cities__guides .cities__guide3 {
    grid-area: g3;
  }
  .cities__guides .cities__guide4 {
    grid-area: g4;
  }

  .guide {
    margin: 10vh 0 10vh 5vw !important;
    border-radius: 10px;
    width: 90vw;
    background-color: #222;
  }
  .guide .guide__title {
    width: 100%;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 5px;
    padding: 5vh 0 5vh 0;
    display: flex;
    flex-direction: row;
  }
  .guide .guide__title:before, .guide .guide__title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1.7px solid #FFF;
    margin: auto 10px;
  }
  .guide .carousel {
    width: 80vw;
    margin: 0;
  }
  .guide .carousel .carousel-inner {
    border-radius: 15px;
  }
  .guide .guide__subtitle {
    width: 100%;
    font-size: 25px;
    font-weight: 50;
    text-align: center;
    padding: 5vh 0 5vh 0;
    display: flex;
    flex-direction: row;
  }
  .guide .guide__subtitle:before {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #FFF;
    margin: auto 15px auto 30px;
  }
  .guide .guide__subtitle:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #FFF;
    margin: auto 30px auto 15px;
  }
  .guide p {
    padding: 1vh 4vw 1vh 4vw;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
  }

  .btn-link {
    font-size: 25px;
    padding: 0;
  }

  .card-body {
    font-size: 12px;
  }

  .center .contact__form {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }
  .center .contact__form .section__intro {
    width: 100%;
    padding: 20px;
  }
  .center .contact__form .section__intro .section__title {
    font-size: 25px;
  }
  .center .contact__form .section__intro .section__par {
    font-size: 14px;
    line-height: 30px;
    text-align: justify;
  }
  .center .contact__form .section__form {
    width: 100%;
    padding: 20px;
  }
  .center .contact__form .section__form input[type=text],
.center .contact__form .section__form input[type=email] {
    width: 100%;
    height: 30px;
  }
  .center .contact__form .section__form textarea {
    width: 100%;
    height: 200px;
  }

  footer > .navbar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .index__nature .nature__div .index__nature__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__nature__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .index__nature .nature__div .index__nature__title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__nature__title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .index__cities .cities__div .index__cities__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__cities__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }

  .index__cities .cities__div .index__cities__title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .index__cities .cities__div > .index__cities__title {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  footer .footerpar {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 768px) {

  .cities__guides .cities__guide1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .cities__guides .cities__guide2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .cities__guides .cities__guide3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .cities__guides .cities__guide4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}