.collapse__grid {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


    .collapse__a {
        width: 30%;
        border-radius: 20px;
        border: solid #444 2px;
        background-color: #444;
        padding: 20px 0 30px 0;
        margin: 3% 0 3% 0;

        .fullcard {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                padding: 10px 0 10px 0;
            }

            h2 {
                padding: 10px 35px 10px 35px;
                font-size: 26px;
                text-align: center;
                height: 80px;
            }
        }

        .accordion {
            padding: 0 20px 0 20px;


            .card {
                border: none;
                background-color: #222;
                border-radius: 20px;


                .card-header {
                    background-color: #222;
                    height: 50px;

                    .btn-link {
                        font-weight: 300;
                        display: flex;
                        justify-content: left;
                        font-size: 20px;

                        &:hover {
                            color: lightskyblue;
                        }

                    }

                    .btn {
                        padding: 0;
                        border: 0;
                        line-height: 25px;

                        &:focus {
                            box-shadow: none;
                        }
                    }

                    .bfont {
                        color: lightskyblue;
                    }

                }

                .pfont {
                    background-color: #333;
                }
            }

        }
    }
}