%imgposition {
    background-size: cover;
    background-position: center;
}

%boxshadow {
    -webkit-box-shadow: 0px 0px 19px 18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 19px 18px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 19px 18px rgba(0, 0, 0, 0.75);
}