* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none !important;
    margin-left: 0 !important;
    font-weight: 70;
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: black;
}

nav {
    padding: 0;
}